<%- include('../partials/header.ejs')%>
    <div class="title-info">
      <span><%=connection.title%></span>
    </div>
    <table>
      <tr>
        <td>
          <img
          class="user-img"
          src='<%= connection.imageURL%>'
          alt="url selected by user"
        />
          </div>
        </td>
        <td>
          <h4>Created by <%= connection.author.firstName + ' ' + connection.author.lastName%></h4>
          <p>
            Category: <%= connection.topic%> <br>
            Date: <%= connection.date%> <br>
            Timestamp: <%= connection.startTime%> - <%= connection.endTime%><br>
            Location: <%= connection.location%>
          </p>
        </td>
      </tr>
    </table>

    <div class="details-info">
      <span>Details</span>
      <p>
       <%= connection.details%>
      </p>
      <div class="title-info">
        <%if(user == connection.author._id) {%>
        <form>
          <button type="submit" formmethod="GET" formaction="/connections/<%= connection.id%>/edit">Edit</button>
          <button type="submit" formmethod="POST" formaction="/connections/<%= connection.id%>/?_method=DELETE">Delete</button>
       <%}%>
      </form>
      </div>
    </div>
    <%- include('../partials/footer.ejs')%>